body {
  background-color: rgb(245, 245, 245);
}

.content {
  margin: -10rem auto 0 auto;
}

.box {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #e5e5e5;
  padding: 3em;
}

.cover {
  height: 40vh;
}

.card-title {
  font-weight: lighter;
  overflow-wrap: break-word;
}

.details-body strong {
  font-size: 1.8rem;
  font-weight: lighter;
  color: rgb(100, 100, 100);
}

.details-body p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

#past-location-map { height: 600px; }